<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75667831367-id8vto6pb3p2euhghsrlqto9ugu0gkm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75667831367-id8vto6pb3p2euhghsrlqto9ugu0gkm1</string>
	<key>API_KEY</key>
	<string>AIzaSyA8F5OKs6Xjeps-1rUVlbbNCfvXE0oV8ek</string>
	<key>GCM_SENDER_ID</key>
	<string>75667831367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexzaharia.Bills</string>
	<key>PROJECT_ID</key>
	<string>bills-7b923</string>
	<key>STORAGE_BUCKET</key>
	<string>bills-7b923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75667831367:ios:25020bce16c798b7158f62</string>
</dict>
</plist>